/*-------------------------------
Fonts Setup
---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Sriracha&display=swap');

/*-------------------------------
Color Setup
---------------------------------*/
:root{
    --coffe:#A2897A;
    --page:#ffe5ce;
    --body: #fefefe;
    --navbar: #231512;
}

/*-------------------------------
Navbar
---------------------------------*/
 .navbar-brand{
    font-family: Sriracha;
    font-size: 40px;
    color: var(--coffe);
 }

 .navbar :hover{
    color: var(--page);
 }
 .navbar :focus{
    color: var(--page);
 }

 .navbar{
    background: var(--navbar);
    padding: 20px;
 }


.nav-link{
    font-family: Sriracha;
    font-size: 16px;
    color: var(--coffe);
}

/*-------------------------------
Image Setup
---------------------------------*/
.coffe-wall{
  object-fit: fill;
}

/*-------------------------------
Menu Section
---------------------------------*/
#Menu{
    background: var(--page);
    margin: 0px;
    font-family: Fredericka the Great;
    font-size: 80px;
    text-align: center;
}

.Menu{
    background: var(--page);
}

.row{
    padding: 16px;
}

.container-fluid{
    margin-top: 0px;
}

.alimento{
    text-align: center;
    font-size: x-large;
    font-family: Fredericka the Great ;
    margin: 0px;
}

.preco{
    text-align: center;
    font-size: x-large;
    font-family: Fredericka the Great;
    margin: 0px;
}

/*-------------------------------
Sobre Section
---------------------------------*/
#Sobre{
    background: var(--page);
    margin: 0px;
    font-family: Fredericka the Great;
    font-size: 80px;
    text-align: center;
}

.window{
    padding: 48px;
    background: var(--page);
    text-align: justify;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.window p{
    border: 1px solid;
    box-shadow: 5px 10px var(--navbar);
    padding: 14px;
}

.sobre{
    background-color: var(--page);
}

#image-cafe{
    box-shadow: 5px 10px var(--coffe);
}

/*-------------------------------
Footer Section
---------------------------------*/
.rodape{
    background-color: var(--navbar);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.link-instagram{
    width: 30px;
    height: 30px;
}

.link-whatsapp{
    width: 30px;
    height: 30px;
}

.link-twitter{
    width: 30px;
    height: 30px;
}

#icones{
    width:190px; 
    display: flex;
    justify-content: space-around;
}